.staffer {
  display: flex;
  margin: $sp-4 0;

  .staffer-image {
    border-radius: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100px;
    margin-right: $sp-4;
    object-fit: cover;
    width: 100px;
  }

  .anchor-heading {
    right: auto;
    left: -$sp-5;
  }

  .staffer-name,
  .staffer-meta,
  p {
    margin: 0 0 $sp-1 0;
  }

  .staffer-name {
    @extend .d-inline-block;
  }

  .staffer-pronouns {
    @extend .label, .text-grey-dk-300, .bg-grey-lt-000, .gdd-blue;

    user-select: none;
  }

  .staffer-meta {
    dt, dd, dd + dt {
      margin-top: 0;
    }
  }

  @include mq(sm) {
    .staffer-meta {
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }
}

.afk_staffer {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // margin: $sp-4 0;
  align-items: center;

  .staffer-image {
    border-radius: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100px;
    object-fit: cover;
    width: 100px;
  }
}

.staffer-image-wrapper {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: $sp-4;
  width: 100px;
  height: 100px;
}

.staffer-image-wrapper .staffer-image {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.staffer-image-wrapper .img-default {
  opacity: 1;
}

.staffer-image-wrapper .img-hover {
  opacity: 0;
}

.staffer:hover .staffer-image-wrapper .img-hover {
  opacity: 1;
  transform: scale(1.03);
}

